<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Store - Your Best Marketplace</title>

    <link rel="shortcut icon" type="image/x-icon" href="icons/logo.ico" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
  </head>

  <body>
    <nav
      class="navbar navbar-store navbar-expand-lg navbar-light fixed-top navbar-fixed-top"
      data-aos="fade-down"
    >
      <div class="container">
        <a href="index.html">
          <img src="images/logo.svg" alt="Logo" width="40px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div class="navbar-nav ml-auto">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="categories.html">Categories</a>
              </li>

              <li class="nav-item disabled">
                <a class="nav-link">Rewards</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="register.html">Sign Up</a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link btn btn-success text-white px-4"
                  href="login.html"
                  >Sign In</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="page-content">
      <div class="container">
        <div class="row align-items-center auth-login" id="register">
          <div class="col-lg-7 d-none d-lg-block">
            <img src="images/illust_register.svg" alt="banner" class="w-100" />
          </div>
          <div class="col-lg-5 col-md-8">
            <h2>Memulai untuk jual beli<br />dengan cara terbaru</h2>
            <form action="#" class="auth-login-form">
              <div class="form-group">
                <label for="name">Fullname</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control is-valid"
                  placeholder="Input Your Fullname"
                  v-model="name"
                />
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control is-invalid"
                  placeholder="Input Your Email Address"
                  v-model="email"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  placeholder="Input Your Password"
                />
              </div>
              <div class="form-group">
                <label class="mb-0">Store</label>
                <p class="auth-sub-title">
                  Apakah anda juga ingin membuka toko?
                </p>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="isStoreOpen"
                    id="true"
                    value="true"
                    :value="true"
                    v-model="isStoreOpen"
                  />
                  <label class="form-check-label" for="true">Iya, boleh</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="isStoreOpen"
                    id="false"
                    value="false"
                    :value="false"
                    v-model="isStoreOpen"
                  />
                  <label class="form-check-label" for="false">Tidak</label>
                </div>
              </div>
              <div class="form-group" v-if="isStoreOpen">
                <label for="store_name">Nama Toko</label>
                <input
                  type="text"
                  name="store_name"
                  id="store_name"
                  class="form-control"
                  placeholder="Input Your Store Name"
                />
              </div>
              <div class="form-group" v-if="isStoreOpen">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
              <a href="index.html" class="col-12 btn btn-success"
                >Sign Up Now</a
              >
              <a href="register.html" class="col-12 btn btn-secondary mt-2"
                >Back to Sign In</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p class="text-center">
        <span id="currentYear"></span> Copyright Store. All Rights Reserved.
      </p>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();

      const getDate = new Date();
      const getFullYear = getDate.getFullYear();

      const currentYear = document.getElementById("currentYear");
      currentYear.textContent = getFullYear;
    </script>
    <script src="vendor/vue/vue.js"></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <script>
      Vue.use(Toasted);

      let register = new Vue({
        el: "#register",
        mounted() {
          AOS.init();
          this.$toasted.error(
            "Maaf, tampaknya email sudah terdaftar pada sistem kami.",
            {
              position: "top-center",
              classname: "rounded",
              duration: 3000,
            }
          );
        },
        data: {
          name: "Zaero Blitz",
          email: "zaeroblitz@gmail.com",
          password: "",
          isStoreOpen: true,
          storeName: "",
        },
      });
    </script>
    <script src="scripts/navbar-scroll.js"></script>
  </body>
</html>
