.section-categories {
  margin-top: 30px;

  a {
    text-decoration: none;
  }

  .categories-item {
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 24px 20px;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      background-color: #e6e6e6;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 12px;
    }

    .category-item-icon {
      width: 76px;
      height: 76px;
      margin-bottom: 16px;
    }

    p {
      color: #333533;
      font-size: 18px;
      margin-bottom: 0px;
      text-decoration: none;
      text-align: center;
    }
  }
}
