.page-dashboard {
  .sidebar-collapse {
    height: auto !important;
  }

  .navbar-user {
    flex-wrap: inherit;
  }

  .profile-picture {
    padding: 0px;
    width: 45px;
    object-fit: contain;
  }

  .card-badge {
    display: inline-block;
    min-width: 2em;
    padding: 0.3em;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background-color: #29a867;
    color: #fefefe;
    margin-left: -10px;
  }

  .dashboard-header {
    margin-bottom: 24px;
  }

  .dashboard-summary {
    margin-bottom: 24px;
    .card-summary {
      padding: 24px;

      .text-muted {
        color: #c5c5c5;
        font-size: 16px;
        margin-bottom: 6px;
      }

      h4 {
        color: #333533;
        font-size: 32px;
        font-weight: 800;
      }
    }
  }

  .dashboard-transactions {
    .card-transaction-product {
      padding: 12px;
      @include button-variant(#fff, transparent);

      &:hover {
        transform: scale(1.01);
      }

      img {
        object-fit: cover;
        border-radius: 10px;
      }

      p {
        color: #333533;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .dashboard-settings {
    .form-group .form-control {
      background-color: #f3f3f3;
      border: none;
      border-radius: 12px;
      padding-left: 20px !important;
    }

    label {
      font-size: 1rem;
    }
  }

  .dashboard-products {
    margin-top: 30px;

    .product-item {
      width: fit-content;

      &:hover {
        transform: scale(1.025);
      }

      img {
        width: 214px;
        height: 192px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 14px;
      }

      h4 {
        color: #333533;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 4px;
      }

      p {
        color: #c5c5c5;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  .dashboard-update-product {
    img {
      border-radius: 12px;
    }

    .icon-remove {
      display: block;
      position: absolute;
      top: -10px;
      right: 0;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  #transactionDetails {
    img {
      height: 240px;
      border-radius: 20px;
      object-fit: cover;
    }

    .text-muted {
      color: #c5c5c5;
      font-size: 16px;
      font-weight: 300;
    }

    h4 {
      color: #333533;
      font-size: 18px;
      font-weight: 800;

      &.text-warning {
        color: #ff7158;
      }
    }

    .form-control {
      background-color: #f3f3f3;
      border: none;
      border-radius: 12px;
      padding-left: 20px !important;
    }
  }
}
