.section-gallery {
  margin-top: 30px;

  img {
    border-radius: 10px;
  }

  .main-image {
    width: 625px;
    height: 480px;
    border-radius: 30px;
    object-fit: cover;
  }

  .thumbnail-image {
    width: 160px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid transparent;

    &:hover,
    &.active {
      border: 2px solid #ff7158;
    }
  }
}
