.page-success {
  img {
    width: 400px;
  }

  h4 {
    color: #333533;
    font-size: 28px;
    font-weight: 500;
  }

  p {
    color: #525252;
    font-size: 16px;
    font-weight: 300;
  }

  .btn-success {
    border: none;
    border-radius: 12px;
    padding: 14px 20px;

    @include button-variant(#29a867, transparent);
  }

  .btn-secondary {
    color: #bbbbbb !important;
    border: none;
    border-radius: 12px;
    padding: 14px 20px;

    @include button-variant(#f3f3f3, transparent);
  }
}
